
{% if message %}
<div id='message'>{{ message }}</div>
{% endif %}
{% if username == 'GUEST' %}
<div id='guestgreet'>
    <p>
    You are not currently recognized as a user. You must first login with
    an OpenID. Once you have done that we can register that OpenID as a valid
    member of the system.
    </p>
    <p class='login'><a href="{{ challenge_url }}">Login</a></p>
</div>
{% elif target_role in roles %}
<div id='membergreet'>
    <p>
    You are already a member of the system as user
    <strong>{{ username }}</strong>. If you want to register a different
    OpenID, you need to login as that other ID.
    </p>
    <p class='login'><a href="{{ challenge_url }}">Login</a></p>
</div>
{% else %}
<div id='authgreet'>
    <p>
    You are logged in as user <strong>{{ username }}</strong>, but that
    user is not yet registered as a member. Click below to register. Add
    a name you'd like to be called, if you like.
    </p>
    <p class='login'><form method="POST">
        <input name="pretty_name" type="text" />
        <input type="submit" value="Register"/>
    </form></p>
    <p>
    If you want to register a different
    OpenID, you need to login as that other ID.
    </p>
    <p class='login'><a href="{{ challenge_url }}">Login</a></p>
</div>
    
{% endif %}

