<div class='container' id='create'>
    <h2>Create</h2>
    <form id='quick_create' method='POST' action='{{ form_action }}'>
        <input type='submit' name='creatego' value='Quick!'/>
        Create a recipe named after your username with a quick default bag.
    </form>
    <form id='create_recipe' method='POST' action='{{ form_action }}'>
        <label for='recipe_name'>Recipe:</label>
        <input id='recipe_name' size='40' />
        <input type='radio' name='privacy' value='private' checked='1'/><abbr
            title='Me Only'>M</abbr>
        <input type='radio' name='privacy' value='authenticated' /><abbr
            title='Authenticated Users Only'>A</abbr>
        <input type='radio' name='privacy' value='public' /><abbr
            title='Publically Viewable'>P</abbr><br/>
        <label for='autowiki'><abbr title='Automatically Include System
                Bag'>autowiki</abbr></label>
        <input type='checkbox' value='1' id='autowiki'/><br/>
        <label for='default_bag'>Default Content Bag:</label>
        <input id='default_bag' size='40' />
        <label for='bags'>Bags:</label>
        <select id='bags' multiple='1'>
            {% for bag in bags %}
            <option>{{ bag.name }}</option>
            {% endfor %}
        </select><br />
        <input type='submit' name='creatego' value='Create Recipe'/>
    </form>
    <form id='create_bag' method='POST' action='{{ form_action }}'>
        <label for='bag_name'>Bag:</label>
        <input id='bag_name' name='bag_name' size='40' /><br/>
        <label for='bag_desc'>Description:</label>
        <input id='bag_desc' name='bag_desc' size='40' /><br/>
        <label for='read'>Read:</label>
        <input type='radio' name='read' value='private' checked='1'/>M
        <input type='radio' name='read' value='any'/>A
        <input type='radio' name='read' value='public'/>P
        <input name='read_text' size='60' /><br/>
        <label for='write'>Write:</label>
        <input type='radio' name='write' value='private' checked='1'/>M
        <input type='radio' name='write' value='any'/>A
        <input type='radio' name='write' value='public'/>P
        <input name='write_text' size='60' /><br/>
        <label for='create'>Create:</label>
        <input type='radio' name='create' value='private' checked='1'/>M
        <input type='radio' name='create' value='any'/>A
        <input type='radio' name='create' value='public'/>P
        <input name='create_text' size='60' /><br/>
        <label for='delete'>Delete:</label>
        <input type='radio' name='delete' value='private' checked='1'/>M
        <input type='radio' name='delete' value='any'/>A
        <input type='radio' name='delete' value='public'/>P
        <input name='delete_text' size='60' /><br/>
        <input type='submit' name='creatego' value='Create Bag'/>
    </form>

</div>
